@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

/* ====画面の基本設定==== */
html, body {
  width: 100%;
  height: 100%;
}


/* ====文字の基本設定（タイポグラフィ）==== */
html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
  /*文字の初期化(10px 相当)デフォ:16px*/
}

p, li {
  font-size: 1.6rem;
  /*root の文字サイズ(10px 相当)=16px 相当*/
}

p {
  line-height: 1.5;
  
  //カラー#333333を使用
  color: #333333;
}

h1 {
  font-size: 2.4rem;
  /*root の文字サイズ(10px 相当)=24px 相当*/
  line-height: 2;
  color: #333333;
 
}

h2 {
  font-size: 2.1rem;
  line-height: 2.285;
  color: #333333;
}

h3 {
  font-size: 1.8rem;
  /*root の文字サイズ(10px 相当)=18px 相当*/
  line-height: 1.333;
  color: #333333;
}

h4, h5, h6 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2.4rem;
  /*一律2行分*/
}
$span-color:#A691CA;

/* 画像サイズの指示(レスポンシブ・スマホサイトには必須) */
// img {
//   max-width: 100%;
//   width: 280px;
// }

// 以下デザイン部

// 文字に関する指示
section{
  div:nth-of-type(1){
    height: 100vh;

    h1{
      margin: 0 auto;
      // width: 400px;
      text-align: center;
      // margin-top: 40vh;
      line-height: 100vh;
      font-size: 3.4rem;
      position: relative;
      margin-bottom: 50px;
      span{
        color: $span-color;
        font-size: 3.4rem;
        display: inline-block;
        margin-right: 10px;
      }
    }
    h1::before{
      content: "お箸紫";
      text-align: center;
      font-size: 1.5rem;
      position: absolute;
      left: 37%;
      top: -30px;
    }
    // overflow: hidden;
    // width: 100vw;
    // p{
    //   // position: absolute;
    //   z-index: -100;
    //   &:nth-of-type(1){//OHASHI
    //     top: 150px;
    //     left: -10px;
    //     font-size: 10rem;
    //     opacity: 0.2;
    //     // overflow: hidden;
    //     width: 380px;
    //   }
    //   &:nth-of-type(2){//おはし
    //     top: 480px;
    //     right: 0;
    //     -ms-writing-mode: tb-rl;//縦書き設定
    //     writing-mode: vertical-rl;//縦書き設定
    //     height: 500px;
    //     font-size: 8rem;
    //     opacity: 0.2;
    //     letter-spacing: 3.5rem;
    //   }
    //   &:nth-of-type(3){//旬
    //     top: 1000px;
    //     left: -5px;
    //     font-size: 8rem;
    //     opacity: 0.2;
    //   }
    //   &:nth-of-type(4){//Murasaki
    //     top: 1460px;
    //     left: -19px;
    //     font-size: 10rem;
    //     opacity: 0.2;
    //     // overflow: hidden;
    //     width: 390px;
    //   }
    // }
  }
  div:nth-last-of-type(1){
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    h2{
      font-size: 2.4rem;
      color: #555;
      text-align: center;
      line-height: 10rem;
      .c{
        color: #A691CA;
      }
      .instagram{
        display: inline-block;
        font-size: 2.4rem;
        background-size: 10rem;
        background: linear-gradient(45deg, rgba(254,212,117,1) 0%,rgba(229,61,93,1) 50%,rgba(194,49,134,1) 70%,rgba(156,56,187,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s linear;
      }
      .instagram:hover{
        margin-left: 10px;
      }
    }
    p{
      margin-left: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      img{
        width: 30px;
        height: 30px;
      }
    }
  }
  // 画像に関する指示
  // ul{
  //   li{
  //     &:nth-of-type(1){
  //       padding-top: 250px;
  //     }
  //     &:nth-of-type(2){
  //       margin-top: 200px;
  //       text-align: right;
  //     }
  //     &:nth-of-type(3){
  //       margin-top: 200px;
  //       text-align: center;
  //       margin-bottom: 400px;
  //     }
  //     &:nth-of-type(4){
  //       margin-bottom:300px;
  //       text-align: center;
  //     }
  //   }
  // }

}
.wrap {
  width: 90%;
  margin: 0 auto;
}

.demo01 {
  margin: 0 auto;
}

.item {
  width: 100%;
  transition: 0.8s ease-in-out;
}

.item img {
  width: 100%;
}
.item:hover{
  transform: scale(120%);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}




//グレイのところ(お問い合わせ部)は一旦フッターに変更しております
footer{
  text-align: center;
  background-color: darkgray;
  margin: 0;
  padding-top: 70px;
  color: white;

  h2,p{
    color: white;
  }
  h2{
    font-size: 40px;
    -ms-writing-mode: tb-rl;//縦書き設定
    writing-mode: vertical-rl;//縦書き設定
    margin: 0 auto;
    letter-spacing: 30px;
    line-height: 50px;
    padding-left:40px;
    span{
      display: block;
      font-size: 20px;
    }
  }
  // h2::after{
  //   content: 'おはし';
  //   font-size: 20px;
  // }
  p{
    &:nth-of-type(1){//ご予約・おといあわせ
      margin-top: 60px;
      span{
        display: block;
        font-size: 35px;
      }
    }
    &:nth-of-type(2){//お食事の内容、コース・・・
      margin-top: 20px;
      margin-bottom: 90px;
      span{
        display: block;
      }
    }
  }

  .flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
      div:nth-of-type(1){
        margin: 10px;
        margin-left:20px
      }
    .item{
      text-align: left;
    .flex2{
      display: flex;
      margin-bottom: 30px;
      &:nth-of-type(1){
        margin: 0;
        margin-bottom: 30px;
        p:nth-of-type(1){
          margin-right: 45px;
        }
      }
      p{
        margin:0;
        &:nth-of-type(1){
          margin-right: 27px;
          width: 75px;
        }
      }
    }
    }
  }

}

//お問い合わせ部分   後にABOUTのところから表示させるJS組みます
#fixd{
  background-color: rgba(255, 255, 255,0.8);
  display: flex;
  justify-content: space-around;
  div{
    width: 40%;
    h2{
      line-height: 70px;
      font-size: 1.3rem;
    }
    p{
      font-size: 2rem;
      line-height: 70px;
    }
  }
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
}

.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:10px;
  /*全体の高さ*/
height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-15px;
top: -15px;
  /*テキストの形状*/
color: #333;
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: #333;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}
@keyframes rotation{
  0%{ transform:rotateX(0);}
  100%{ transform:rotateX(360deg); }
}


@media screen and (min-width: 480px) {
  .item {
    width: 200px;
  }

}
@media screen and (max-width: 480px) {
  .gallaryLink{
    width: 80vw !important;
    justify-content: center !important;
    h2{
      width: 80%;
      line-height: 5rem !important;
    }
    p{
      display: block !important;
      left: 10px !important;
      img{
        // display: none;
      }
    }
  }
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
}
// ハンバーガーメニューspanCss
.burger-btn{
  display: block;      
  width: 39px;      
  height: 39px;
  top: 1%;
  right: 1%;   
  position: fixed;      
  z-index: 3;
  border:none;    
}    
.bar{      
  width: 20px;      
  height: 1px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);      
  background-color: #333;    
}    
.bar_top{   
  top: 10px;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}

//open時
.burger-btn.close .bar_top{      
  transform: translate(-50%,10px) rotate(45deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translate(-50%,-8px) rotate(-45deg);      
transition: transform .3s;    
}

//ハンバーガー中身
.nav-wrapper{      
  visibility: hidden;     
  opacity: 0;
  width: 100vw;      
  height: 100vh;      
  position: fixed;      
  top: 0;      
  left: 0;
  transition: all .5s;       
  z-index: 2;     
}     
.header-nav{        
  width: 100%;        
  height: 100%;        
  background-color: rgba(255, 255, 255,0.8);        
  z-index: 2;      
}     
.nav-list{        
  display: block;        
  position: absolute;        
  top: 50%;        
  left: 50%;        
  transform: translate(-50%,-50%);        
  text-align: center;    
  color: #333;  
}      
.nav-item{        
  margin-right: 0;        
  margin-bottom: 40px;      
}

/* メニューオープン時 */
.nav-wrapper.fade {
	visibility: visible;
	opacity: 1;
}
.noscroll{
  overflow: hidden;
}

//アコーディオンメニュー
.InItem{
  display: none;
}
.nav-open{
	position: relative;
}
.nav-open::before{/* 閉じている時 */
	content: "＋";
	position: absolute;
  right: 0px;
}
.nav-open.active::before{/* 開いている時 */
	content: "－";
}
.active{
  display: block;
}
.InItem{
  ul{
    li{
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1024px){
  section{
    div{
      h1{
        width: 400px;
      }
    }
  }
}